In [1]:
churro = "postgresql://postgres:postgres@146.148.10.52:5432/postgres"

In [3]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.36-cp310-cp310-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario\miniconda3\envs\data_analysis_env\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.36-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 14.6 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.36

In [6]:
!pip install PSYCOPG2-BINARY

Collecting PSYCOPG2-BINARY
  Downloading psycopg2_binary-2.9.10-cp310-cp310-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 11.6 MB/s eta 0:00:00
Installing collected packages: PSYCOPG2-BINARY
Successfully installed PSYCOPG2-BINARY-2.9.10

In [4]:
# pip install psycopg2-binary
import pandas as pd
# pip install sqlalchemy
from sqlalchemy import create_engine

In [8]:
engine = create_engine(churro)

In [9]:
query = "select * from tablademier"
pd.read_sql(query, con=engine)

   index  a   b
0      0  1  10
1      1  2  20
2      2  3  30

In [17]:
df_tuprima = pd.DataFrame({"tuprima": [1,2], "tuhermana" : [3,4]})
df_tuprima.to_sql("voysobrao",con=engine,if_exists="replace",index=None)

2

In [16]:
query = """  
SELECT
    table_schema || '.' || table_name
FROM
    information_schema.tables
WHERE
    table_type = 'BASE TABLE'
AND
    table_schema NOT IN ('pg_catalog', 'information_schema');

"""

pd.read_sql(query, con=engine)

                  ?column?
0    public.tablajorgeluis
1            public.df_ALI
2        public.tablapauli
3       public.tablademier
4   public.tabladetuprima2
5      public.tablademierd
6         public.voysobrao
7        public.df_tuprima
8     public.awanakingkong
9          public.df_tolai
10        public.df_tolai1
11        public.tablaprru
12      public.tuchurrasco
13             public.jose
14        public.Churrasko