# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [122]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

Fijaos que es un tsv. Eso significa "Tab separated value". IMPORTANTE: El separador es "\t"

In [123]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [124]:
chipo = pd.read_csv(url,sep = "	",header=0,index_col=0)
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step Extra:

Si os fijais, la columna item_price es un string. Hay que quitar el signo del dolar y convertir a float para poder trabajar. 

Hay maneras cool de hacer esto, pero os recomiendo lo siguiente:
- haced un bucle for del df (iterrows)
- guardaros en una lista (append) el valor sin el dolar y convetido a float
- actualizad el valor de esa columna con la nueva lista

In [125]:
item_price2 = []
for index, row in chipo.iterrows():
    item_price2.append(float(row.loc["item_price"].replace("$","")))
print(item_price2)

chipo.loc[:,"item_price"] = item_price2
chipo

[2.39, 3.39, 3.39, 2.39, 16.98, 10.98, 1.69, 11.75, 9.25, 9.25, 4.45, 8.75, 8.75, 11.25, 4.45, 2.39, 8.49, 8.49, 2.18, 8.75, 4.45, 8.99, 3.39, 10.98, 3.39, 2.39, 8.49, 8.99, 1.09, 8.49, 2.39, 8.99, 1.69, 8.99, 1.09, 8.75, 8.75, 4.45, 2.95, 11.75, 2.15, 4.45, 11.25, 11.75, 8.75, 10.98, 8.99, 3.39, 8.99, 3.99, 8.99, 2.18, 10.98, 1.09, 8.99, 2.39, 9.25, 11.25, 11.75, 2.15, 4.45, 9.25, 11.25, 8.75, 8.99, 8.99, 3.39, 8.99, 10.98, 8.99, 1.69, 8.99, 3.99, 8.75, 4.45, 8.75, 8.75, 2.15, 8.75, 11.25, 2.15, 9.25, 8.75, 8.75, 9.25, 8.49, 8.99, 1.09, 9.25, 2.95, 11.75, 11.75, 9.25, 11.75, 4.45, 9.25, 4.45, 11.75, 8.75, 8.75, 4.45, 8.99, 8.99, 3.99, 8.49, 3.39, 8.99, 1.09, 9.25, 4.45, 8.75, 2.95, 4.45, 2.39, 8.49, 8.99, 8.49, 1.09, 8.99, 3.99, 8.75, 9.25, 4.45, 11.25, 4.45, 8.99, 1.09, 9.25, 2.95, 4.45, 11.75, 4.45, 8.49, 2.39, 10.98, 22.5, 11.75, 4.45, 11.25, 4.45, 11.25, 4.45, 11.25, 11.25, 11.75, 9.25, 4.45, 11.48, 17.98, 1.69, 17.5, 4.45, 8.49, 2.39, 17.5, 4.45, 4.45, 11.25, 11.75, 10.98, 8.49, 10.98, 2.18, 11.48, 8.49, 2.39, 4.45, 11.25, 11.75, 8.75, 8.49, 2.18, 8.49, 3.39, 8.49, 8.99, 10.98, 11.48, 8.49, 1.09, 1.09, 9.25, 8.75, 2.95, 9.25, 4.45, 11.25, 11.48, 8.49, 8.49, 8.99, 2.39, 11.25, 8.75, 2.95, 1.09, 8.99, 8.49, 2.39, 10.98, 1.09, 3.99, 11.25, 8.75, 8.49, 3.39, 8.75, 9.25, 2.15, 11.25, 11.25, 11.25, 4.45, 22.5, 4.45, 11.75, 8.75, 17.5, 8.75, 9.25, 8.75, 2.15, 9.25, 4.3, 8.75, 11.25, 2.15, 8.99, 1.09, 8.99, 3.99, 8.75, 2.95, 2.95, 11.75, 5.9, 9.25, 9.25, 11.75, 9.25, 2.95, 17.5, 8.75, 9.25, 10.98, 8.99, 1.09, 1.09, 1.09, 8.99, 10.98, 1.09, 8.75, 8.75, 9.25, 9.25, 8.75, 8.75, 8.99, 8.99, 8.99, 1.09, 11.75, 1.25, 8.99, 2.39, 9.25, 2.95, 8.99, 3.99, 8.49, 2.39, 8.49, 8.49, 8.49, 1.69, 8.49, 3.99, 8.99, 1.69, 1.09, 23.78, 17.5, 2.15, 8.75, 9.25, 9.25, 8.75, 4.45, 8.75, 11.25, 11.25, 1.25, 9.25, 4.45, 11.25, 11.75, 11.75, 6.49, 8.99, 2.39, 8.49, 2.39, 11.25, 8.75, 2.15, 8.99, 1.69, 8.75, 11.25, 2.15, 4.45, 8.75, 8.49, 8.99, 17.5, 8.49, 1.09, 1.09, 8.75, 1.25, 2.15, 11.08, 8.49, 8.49, 8.99, 2.39, 8.75, 2.15, 1.5, 11.25, 2.15, 8.49, 8.49, 11.75, 9.25, 11.75, 1.25, 11.25, 8.75, 4.45, 6.49, 9.25, 2.95, 11.25, 4.45, 1.25, 1.25, 8.49, 2.39, 2.18, 8.49, 2.18, 22.16, 17.5, 8.75, 2.95, 6.49, 8.99, 3.39, 3.39, 8.99, 8.49, 11.25, 2.15, 11.25, 2.95, 11.25, 1.25, 8.99, 1.09, 8.75, 8.75, 9.25, 2.95, 11.75, 1.5, 8.99, 1.09, 11.25, 1.25, 1.25, 11.25, 11.75, 2.15, 8.99, 1.69, 11.75, 6.49, 8.75, 9.25, 11.25, 4.45, 1.25, 11.25, 4.45, 8.49, 8.99, 8.49, 8.99, 11.25, 1.25, 11.75, 1.25, 11.75, 9.25, 4.45, 11.25, 2.15, 32.94, 1.25, 11.25, 11.48, 1.69, 1.09, 17.5, 4.45, 6.49, 9.25, 8.75, 9.25, 9.25, 8.75, 8.75, 2.15, 2.95, 17.5, 10.98, 11.48, 11.48, 3.39, 8.99, 1.69, 8.99, 1.09, 10.98, 3.39, 8.99, 1.09, 9.25, 8.75, 11.25, 4.45, 2.95, 9.25, 22.2, 8.49, 8.99, 8.75, 8.75, 11.75, 8.75, 11.25, 9.25, 11.25, 11.25, 8.75, 11.25, 2.95, 1.25, 8.49, 1.69, 11.75, 11.25, 8.75, 8.75, 4.45, 8.49, 3.99, 8.49, 3.99, 11.48, 1.69, 1.09, 11.25, 1.5, 10.58, 1.69, 9.25, 11.25, 8.75, 9.25, 11.25, 11.25, 8.75, 11.75, 8.75, 8.75, 8.75, 2.15, 11.25, 11.75, 2.5, 4.45, 9.25, 4.45, 11.25, 8.49, 3.99, 9.25, 9.25, 11.25, 9.25, 11.75, 11.25, 1.25, 23.5, 1.25, 8.99, 8.49, 7.4, 7.4, 8.75, 1.25, 4.45, 8.75, 2.15, 8.75, 4.45, 7.4, 7.4, 7.4, 8.99, 3.99, 8.99, 1.69, 8.75, 8.75, 8.75, 8.75, 11.25, 11.25, 2.95, 8.75, 18.5, 8.49, 3.99, 2.95, 9.25, 9.25, 3.0, 1.25, 8.75, 9.25, 4.45, 8.75, 11.25, 4.45, 10.98, 22.16, 4.45, 8.75, 9.25, 6.49, 9.25, 11.25, 8.75, 9.25, 2.15, 9.25, 4.45, 9.25, 2.95, 9.25, 8.75, 9.25, 1.25, 1.25, 8.75, 8.75, 9.25, 4.45, 11.75, 11.75, 11.75, 9.25, 9.25, 16.98, 2.39, 3.39, 3.39, 9.25, 11.75, 11.25, 2.15, 8.75, 9.25, 4.45, 10.98, 11.25, 9.25, 22.5, 9.25, 2.95, 1.5, 11.48, 8.49, 1.69, 8.49, 8.49, 8.49, 6.78, 11.75, 4.45, 8.75, 4.45, 11.89, 9.39, 8.75, 2.95, 1.25, 9.25, 8.75, 23.78, 8.75, 9.25, 2.15, 2.15, 1.25, 8.49, 3.99, 10.98, 1.09, 8.75, 4.45, 8.75, 11.75, 2.95, 4.45, 9.25, 8.75, 8.49, 3.99, 22.5, 11.25, 1.25, 8.75, 8.75, 18.5, 6.49, 8.75, 8.75, 4.45, 8.49, 3.99, 8.99, 1.09, 8.49, 2.39, 11.48, 1.69, 2.5, 9.25, 1.5, 17.5, 2.95, 8.75, 4.45, 11.75, 8.75, 8.49, 1.69, 8.49, 3.99, 8.99, 8.99, 3.99, 8.99, 11.25, 4.45, 1.25, 3.99, 10.98, 7.4, 3.0, 7.4, 4.0, 8.49, 3.99, 9.25, 4.45, 11.25, 1.25, 11.75, 1.25, 11.25, 2.15, 11.25, 4.45, 3.75, 11.75, 8.99, 2.39, 8.75, 4.45, 1.25, 8.99, 8.49, 2.18, 8.49, 2.18, 1.09, 8.75, 2.95, 1.25, 1.5, 11.25, 9.25, 2.95, 1.25, 8.49, 3.99, 11.48, 3.99, 8.49, 11.25, 1.25, 8.99, 1.69, 11.25, 1.25, 6.49, 8.75, 9.25, 8.75, 2.95, 8.75, 11.75, 8.69, 8.69, 2.29, 3.99, 8.49, 8.75, 8.75, 1.25, 11.75, 11.25, 11.25, 11.25, 1.25, 9.25, 11.75, 6.49, 3.99, 8.49, 11.25, 2.15, 11.25, 11.89, 8.99, 1.69, 8.99, 8.99, 3.99, 8.99, 9.25, 9.25, 2.15, 7.4, 7.4, 8.75, 8.75, 9.25, 4.45, 11.25, 1.25, 11.75, 11.25, 1.25, 3.99, 8.49, 8.49, 8.49, 8.99, 8.75, 2.15, 1.25, 8.49, 1.09, 1.09, 8.75, 2.95, 1.25, 9.25, 1.25, 2.15, 11.25, 1.25, 4.45, 8.75, 2.5, 8.9, 8.75, 8.75, 8.75, 11.25, 11.25, 10.98, 3.99, 10.98, 3.99, 1.69, 8.99, 9.25, 8.75, 8.99, 1.09, 9.25, 2.95, 8.75, 9.25, 3.99, 8.49, 8.75, 8.75, 22.5, 10.98, 3.27, 3.99, 8.99, 1.09, 11.08, 8.75, 4.45, 11.08, 3.99, 8.49, 4.3, 9.25, 8.75, 11.25, 11.25, 9.25, 8.49, 8.99, 8.49, 8.75, 2.95, 4.45, 9.25, 2.95, 9.25, 8.75, 11.25, 4.45, 16.98, 8.49, 2.39, 11.25, 3.75, 9.25, 4.45, 9.25, 9.25, 4.45, 8.75, 9.25, 8.75, 9.25, 9.25, 9.25, 11.48, 8.99, 22.5, 11.75, 11.25, 1.25, 8.75, 2.15, 1.25, 11.25, 8.75, 1.25, 11.25, 1.5, 11.25, 11.25, 9.25, 6.49, 8.9, 8.75, 4.45, 11.25, 1.25, 17.5, 9.25, 8.75, 11.75, 3.0, 8.49, 8.49, 10.98, 8.99, 3.99, 8.75, 4.45, 8.99, 1.69, 11.75, 8.75, 11.25, 4.45, 11.75, 1.25, 11.75, 2.95, 8.99, 8.99, 2.18, 17.98, 8.99, 8.49, 1.69, 11.75, 11.25, 2.95, 3.75, 9.25, 11.75, 8.75, 2.15, 1.5, 8.49, 8.49, 3.39, 8.69, 3.89, 8.75, 4.45, 8.75, 11.25, 2.15, 8.75, 8.49, 1.69, 8.49, 8.49, 1.25, 8.75, 11.75, 11.75, 8.99, 1.09, 8.75, 4.45, 8.75, 2.95, 8.75, 2.15, 3.99, 8.49, 8.99, 3.99, 8.49, 1.69, 1.09, 8.99, 1.09, 9.25, 8.75, 8.99, 2.39, 1.25, 1.25, 11.25, 11.25, 9.25, 9.25, 11.25, 1.5, 3.99, 8.49, 11.25, 9.25, 11.25, 17.5, 8.75, 8.9, 8.75, 8.75, 8.99, 2.39, 11.25, 9.25, 2.15, 11.25, 1.25, 11.75, 1.25, 11.25, 11.75, 1.25, 11.25, 11.25, 8.49, 10.98, 8.75, 1.25, 8.75, 8.49, 8.49, 1.5, 1.5, 8.75, 4.45, 11.25, 1.25, 11.75, 8.49, 2.39, 9.25, 4.45, 9.25, 8.75, 8.99, 1.69, 17.5, 2.39, 8.99, 8.99, 11.25, 4.45, 8.75, 4.45, 9.25, 6.49, 10.98, 8.49, 8.49, 1.09, 1.69, 9.25, 4.45, 8.75, 1.25, 2.95, 3.99, 8.49, 11.75, 11.75, 2.15, 11.48, 8.75, 2.15, 1.25, 11.25, 2.15, 1.25, 8.75, 8.75, 6.49, 1.69, 8.99, 8.75, 11.75, 10.98, 1.09, 8.49, 3.39, 8.75, 2.15, 1.25, 11.48, 10.98, 10.98, 8.49, 2.95, 9.25, 9.25, 11.75, 4.45, 11.48, 11.25, 8.75, 4.45, 1.69, 8.99, 8.75, 4.45, 1.5, 11.75, 2.15, 8.99, 2.39, 8.75, 2.95, 1.25, 8.75, 2.15, 1.25, 2.18, 2.18, 11.48, 8.75, 2.95, 11.75, 11.75, 1.25, 10.58, 8.99, 2.39, 11.75, 4.45, 11.25, 11.25, 17.5, 8.75, 8.75, 8.75, 22.5, 9.25, 8.75, 4.45, 11.75, 1.25, 11.25, 11.25, 2.95, 8.99, 1.69, 11.25, 4.45, 8.75, 6.49, 8.75, 4.45, 9.25, 4.45, 11.75, 11.75, 4.45, 11.89, 11.75, 11.25, 2.95, 1.5, 4.45, 8.75, 8.99, 1.09, 8.99, 1.09, 3.99, 11.48, 8.49, 9.25, 4.45, 11.48, 9.25, 2.95, 9.25, 8.49, 8.99, 8.99, 8.49, 8.75, 2.95, 4.45, 11.89, 10.58, 8.19, 1.69, 8.75, 2.15, 1.25, 17.5, 6.49, 9.25, 2.15, 8.75, 4.45, 8.75, 1.25, 11.48, 11.48, 8.99, 2.18, 8.49, 8.99, 2.39, 2.39, 2.18, 8.75, 4.45, 11.25, 9.25, 9.25, 11.25, 11.25, 4.45, 2.95, 11.75, 8.49, 8.49, 8.99, 1.69, 9.25, 11.25, 11.75, 9.25, 8.75, 11.75, 8.75, 8.75, 11.25, 11.25, 10.98, 11.25, 4.45, 10.98, 8.49, 8.99, 3.39, 3.99, 8.99, 1.09, 1.09, 2.39, 17.5, 4.45, 11.25, 11.25, 4.45, 9.25, 4.45, 8.75, 2.15, 1.25, 11.89, 2.95, 11.75, 1.25, 11.25, 4.45, 11.48, 11.48, 2.95, 9.25, 8.75, 9.25, 2.95, 11.25, 1.25, 11.75, 1.25, 8.99, 2.39, 1.25, 11.25, 1.25, 11.25, 8.49, 3.99, 35.0, 27.75, 8.75, 11.8, 8.9, 5.9, 6.49, 10.98, 17.98, 2.39, 9.25, 8.75, 2.15, 8.75, 4.45, 8.49, 1.69, 8.19, 8.69, 10.98, 3.99, 11.48, 11.48, 4.45, 8.75, 6.49, 8.75, 8.75, 9.25, 1.25, 4.45, 8.49, 1.69, 9.25, 4.45, 8.99, 1.09, 11.25, 2.95, 11.08, 11.08, 3.89, 10.98, 11.25, 8.75, 11.25, 9.25, 4.3, 8.75, 8.49, 3.99, 1.69, 8.99, 8.49, 1.69, 11.75, 11.25, 11.89, 9.25, 2.95, 9.25, 2.95, 8.75, 4.45, 4.45, 8.75, 10.98, 11.48, 8.49, 9.25, 4.45, 11.75, 11.89, 8.99, 8.49, 8.75, 9.25, 8.75, 8.75, 11.75, 11.75, 4.45, 11.25, 11.75, 2.5, 8.99, 1.69, 11.75, 2.15, 1.25, 9.25, 8.75, 8.9, 9.25, 2.95, 8.75, 11.25, 8.9, 11.25, 11.75, 11.48, 1.69, 3.39, 9.25, 2.95, 8.99, 1.69, 8.49, 10.98, 11.25, 2.95, 8.99, 1.69, 8.75, 2.15, 1.25, 8.75, 2.95, 9.25, 2.5, 11.25, 1.25, 11.75, 2.5, 11.25, 1.5, 8.75, 1.25, 2.95, 11.48, 11.48, 8.75, 8.75, 2.15, 11.75, 1.25, 9.25, 9.25, 6.49, 11.75, 8.49, 8.49, 1.09, 10.98, 8.75, 1.25, 2.15, 11.25, 1.5, 11.25, 11.25, 8.49, 8.49, 8.75, 1.5, 1.25, 1.5, 8.75, 2.5, 2.15, 7.4, 7.4, 4.0, 9.25, 9.39, 9.25, 9.25, 9.39, 11.25, 8.9, 11.25, 6.0, 11.25, 11.25, 11.25, 22.5, 11.48, 1.09, 8.49, 8.49, 17.5, 11.25, 1.5, 9.25, 8.75, 3.99, 8.49, 8.75, 8.75, 8.75, 8.75, 8.75, 11.75, 1.5, 11.25, 11.25, 2.95, 8.99, 10.98, 9.25, 8.75, 4.45, 8.49, 1.09, 2.39, 8.75, 8.75, 11.48, 8.99, 8.49, 8.49, 2.39, 10.98, 8.49, 3.99, 11.75, 4.45, 8.75, 2.15, 1.25, 10.98, 8.99, 11.25, 1.5, 8.75, 2.15, 1.25, 8.75, 9.25, 8.75, 11.25, 1.5, 8.75, 1.25, 4.45, 10.98, 8.75, 2.95, 1.25, 8.75, 2.95, 1.25, 8.49, 8.49, 2.39, 11.25, 1.25, 8.75, 8.75, 9.25, 8.75, 11.89, 1.25, 8.75, 2.15, 1.25, 8.99, 1.09, 8.75, 4.45, 26.25, 8.75, 4.45, 11.75, 2.95, 8.75, 8.75, 11.75, 8.75, 11.25, 11.25, 11.25, 4.45, 1.25, 8.49, 8.49, 8.49, 8.99, 8.99, 2.39, 2.39, 3.99, 8.75, 4.45, 2.15, 9.25, 1.25, 11.25, 11.75, 8.75, 4.45, 11.25, 2.15, 8.75, 4.45, 8.75, 8.75, 1.25, 11.25, 2.15, 8.75, 5.9, 11.75, 1.25, 9.25, 3.75, 8.75, 1.25, 4.45, 11.75, 4.45, 8.75, 23.5, 8.75, 2.95, 8.75, 8.75, 11.89, 4.45, 2.95, 1.25, 8.75, 4.45, 2.95, 1.25, 8.75, 2.15, 1.25, 11.75, 2.95, 8.99, 3.39, 9.25, 9.25, 17.5, 2.95, 11.89, 1.5, 11.25, 2.95, 9.25, 11.25, 11.25, 2.95, 8.75, 9.25, 4.3, 8.75, 8.75, 11.25, 8.75, 4.3, 8.75, 1.25, 2.15, 8.49, 8.49, 3.39, 3.39, 10.98, 10.98, 2.39, 11.25, 11.75, 11.75, 1.25, 5.9, 8.75, 11.25, 9.25, 4.45, 1.5, 3.39, 8.99, 2.39, 11.25, 2.15, 11.25, 11.75, 11.75, 4.45, 11.75, 4.45, 9.25, 8.75, 8.49, 8.99, 8.49, 8.99, 11.75, 8.75, 8.49, 3.99, 3.89, 11.08, 8.49, 8.99, 8.49, 8.49, 8.49, 11.25, 2.15, 17.5, 8.75, 2.95, 8.49, 8.49, 10.98, 1.09, 11.25, 2.15, 2.95, 1.25, 8.75, 9.25, 9.25, 9.25, 2.95, 8.75, 2.15, 1.25, 8.99, 3.99, 11.75, 2.15, 8.99, 3.39, 9.25, 8.75, 11.25, 11.25, 4.45, 8.75, 2.15, 1.25, 11.75, 4.45, 9.25, 2.95, 8.49, 8.49, 11.25, 8.75, 4.45, 11.25, 11.25, 11.25, 11.25, 4.45, 8.49, 1.69, 8.49, 3.39, 8.75, 11.25, 9.25, 8.75, 11.25, 11.25, 11.75, 11.25, 11.75, 11.25, 11.75, 21.96, 10.98, 1.69, 11.48, 8.99, 8.49, 1.69, 9.25, 2.15, 1.5, 11.25, 1.5, 8.75, 8.75, 2.95, 8.49, 1.69, 8.75, 2.95, 1.25, 11.25, 2.15, 11.08, 8.49, 8.49, 8.49, 11.75, 1.25, 11.75, 8.75, 8.75, 8.75, 4.45, 11.25, 1.5, 23.5, 11.75, 6.49, 8.75, 4.45, 6.49, 8.75, 2.5, 2.15, 8.49, 2.39, 8.75, 11.75, 4.45, 8.99, 10.98, 9.25, 2.95, 9.25, 9.25, 11.75, 8.75, 8.75, 8.75, 10.98, 11.25, 9.25, 8.75, 8.75, 2.15, 11.25, 2.15, 4.45, 11.75, 8.49, 2.39, 9.25, 1.25, 1.25, 1.25, 1.25, 8.75, 2.15, 8.49, 1.69, 11.25, 1.5, 8.75, 8.75, 8.49, 3.99, 8.99, 1.09, 11.25, 1.25, 8.49, 2.39, 8.49, 8.75, 9.25, 11.25, 4.45, 11.25, 11.89, 8.99, 8.49, 8.75, 4.45, 8.75, 11.75, 11.75, 8.9, 9.39, 2.95, 8.49, 3.99, 8.75, 2.15, 1.25, 21.96, 8.49, 1.69, 8.75, 4.45, 8.49, 8.99, 8.49, 3.99, 8.75, 8.75, 2.95, 8.75, 17.5, 9.25, 2.95, 8.75, 6.49, 4.3, 8.75, 8.75, 2.15, 1.5, 8.49, 8.49, 2.39, 9.25, 4.45, 6.49, 11.75, 4.45, 10.98, 1.69, 9.39, 9.25, 9.25, 2.95, 8.75, 2.15, 1.25, 11.25, 9.25, 8.75, 11.25, 8.75, 11.25, 2.5, 2.5, 6.0, 8.9, 5.9, 11.25, 11.25, 8.49, 10.98, 8.75, 2.15, 1.5, 9.25, 1.25, 1.5, 2.15, 1.25, 8.75, 2.95, 8.49, 3.99, 11.25, 4.3, 11.75, 2.15, 18.5, 8.49, 2.39, 8.75, 4.45, 11.75, 8.99, 3.99, 9.25, 9.25, 1.5, 8.75, 2.95, 6.49, 11.75, 8.49, 8.99, 8.75, 4.45, 6.49, 22.5, 9.25, 2.95, 8.49, 1.69, 10.98, 8.75, 4.45, 11.25, 2.95, 8.99, 8.49, 2.39, 11.75, 6.49, 11.25, 11.75, 2.95, 8.99, 1.69, 8.99, 2.18, 1.09, 8.99, 8.99, 1.09, 8.99, 8.99, 8.49, 10.98, 1.09, 11.75, 9.25, 11.25, 11.25, 2.15, 11.25, 8.75, 4.45, 2.95, 11.75, 1.5, 8.99, 10.98, 2.39, 8.75, 2.15, 9.25, 1.5, 8.75, 2.15, 3.99, 8.99, 6.49, 8.75, 8.9, 8.99, 3.99, 17.5, 11.25, 1.25, 10.98, 9.25, 4.45, 1.25, 3.0, 11.25, 4.45, 4.45, 2.95, 9.25, 11.25, 2.15, 11.25, 11.25, 4.45, 2.95, 9.25, 11.25, 1.25, 8.75, 2.95, 1.25, 8.75, 4.45, 11.48, 11.48, 8.49, 2.39, 11.25, 11.75, 2.15, 1.5, 2.15, 8.75, 11.25, 8.9, 11.25, 11.25, 1.25, 4.45, 9.25, 9.25, 8.75, 9.25, 8.75, 8.75, 9.25, 8.75, 11.75, 11.75, 8.75, 8.75, 8.9, 2.95, 10.98, 8.49, 8.49, 10.98, 8.99, 8.99, 11.75, 17.5, 11.75, 3.99, 8.49, 10.98, 1.69, 17.5, 8.99, 2.39, 8.99, 2.39, 1.25, 8.75, 2.95, 11.75, 11.25, 17.5, 8.49, 8.49, 2.39, 11.25, 1.5, 8.75, 3.0, 1.25, 8.75, 4.45, 11.75, 11.75, 4.45, 21.96, 8.75, 4.45, 8.75, 11.25, 9.25, 8.99, 2.39, 9.25, 8.75, 10.98, 8.49, 3.99, 3.39, 11.75, 1.5, 4.45, 9.25, 8.75, 1.25, 11.75, 8.75, 1.5, 8.75, 8.75, 2.15, 1.5, 8.75, 2.95, 8.75, 8.75, 17.5, 8.75, 6.49, 4.45, 11.25, 11.25, 4.3, 8.75, 11.25, 4.45, 8.99, 2.39, 9.25, 9.25, 9.25, 4.45, 11.75, 11.25, 2.95, 2.15, 11.25, 11.25, 8.75, 2.15, 1.5, 9.25, 4.45, 10.98, 8.99, 2.18, 8.75, 4.45, 1.25, 8.99, 2.39, 4.45, 8.75, 10.98, 11.75, 1.5, 10.98, 8.99, 8.49, 3.99, 8.99, 8.49, 3.99, 8.49, 8.49, 8.99, 11.25, 11.25, 10.98, 10.98, 10.98, 2.39, 3.39, 8.75, 1.25, 2.95, 11.75, 1.5, 10.98, 1.69, 4.45, 8.75, 8.75, 8.75, 8.75, 4.45, 9.25, 8.75, 11.25, 8.75, 3.99, 8.99, 8.49, 11.25, 11.25, 8.75, 4.45, 8.75, 4.45, 1.25, 8.75, 8.75, 1.5, 2.15, 11.75, 11.75, 11.75, 11.75, 11.75, 1.5, 8.75, 9.25, 1.25, 8.75, 2.15, 8.99, 1.09, 4.45, 11.25, 11.75, 2.15, 8.75, 8.75, 1.25, 9.25, 2.15, 11.75, 11.25, 8.75, 11.25, 4.45, 8.49, 1.69, 8.75, 8.75, 8.99, 8.49, 9.25, 11.25, 2.95, 4.45, 11.75, 6.49, 11.48, 8.99, 4.36, 11.48, 8.99, 8.49, 11.48, 8.75, 2.15, 1.5, 8.99, 1.69, 11.25, 1.25, 9.25, 9.25, 8.75, 9.25, 8.9, 2.15, 9.25, 10.98, 8.49, 8.75, 9.25, 4.3, 9.25, 8.75, 8.75, 2.15, 1.25, 8.75, 1.25, 8.75, 5.9, 9.25, 8.75, 9.25, 4.45, 9.25, 11.75, 2.5, 9.25, 2.15, 9.25, 1.5, 1.25, 11.25, 2.95, 8.75, 8.75, 8.75, 10.98, 8.75, 8.75, 8.75, 2.15, 1.25, 10.98, 8.75, 2.15, 1.5, 8.75, 2.95, 1.25, 9.25, 9.25, 8.49, 2.39, 8.75, 4.45, 9.25, 8.75, 8.75, 8.75, 9.25, 8.75, 9.25, 8.75, 8.75, 8.75, 8.75, 9.25, 8.75, 9.25, 8.75, 9.25, 8.75, 8.75, 8.75, 9.25, 8.75, 9.25, 8.75, 8.99, 8.99, 8.75, 2.95, 1.25, 11.75, 1.5, 11.25, 11.25, 8.75, 1.5, 2.15, 16.98, 11.75, 1.5, 8.75, 4.3, 1.5, 8.75, 2.95, 1.25, 1.25, 9.25, 4.45, 11.25, 8.75, 4.45, 8.75, 2.15, 1.25, 10.98, 1.69, 8.75, 1.25, 8.75, 1.25, 11.25, 8.75, 8.75, 8.49, 1.69, 9.25, 11.75, 8.49, 2.39, 9.25, 2.95, 6.49, 8.75, 8.75, 9.25, 8.75, 6.78, 17.98, 3.39, 11.75, 11.25, 8.75, 4.45, 11.75, 9.25, 8.75, 6.49, 8.99, 2.39, 8.75, 11.25, 11.75, 4.45, 8.75, 2.15, 9.25, 9.25, 9.25, 11.89, 11.75, 11.25, 9.25, 9.25, 8.75, 8.75, 8.49, 1.69, 1.09, 11.25, 1.5, 11.25, 11.25, 11.75, 1.5, 8.49, 8.99, 22.5, 8.75, 4.3, 8.75, 11.25, 2.15, 11.25, 2.95, 4.45, 11.25, 8.49, 3.39, 2.39, 11.75, 2.15, 11.75, 8.99, 2.39, 8.75, 11.75, 11.89, 1.25, 7.5, 11.89, 1.09, 8.49, 2.39, 8.75, 8.75, 8.75, 8.75, 9.25, 11.25, 8.75, 8.9, 9.25, 8.75, 8.75, 11.75, 3.0, 1.5, 11.25, 11.75, 8.99, 10.98, 4.45, 8.75, 2.15, 9.25, 11.25, 4.45, 1.69, 10.98, 9.25, 11.75, 9.25, 4.45, 10.98, 3.99, 8.49, 1.25, 9.25, 4.45, 10.98, 8.75, 8.75, 11.75, 11.25, 8.49, 11.48, 4.45, 1.25, 11.25, 8.99, 1.09, 2.39, 11.25, 2.15, 8.75, 4.45, 8.49, 1.69, 10.98, 1.69, 9.25, 4.45, 11.25, 8.75, 11.25, 11.75, 11.25, 22.5, 8.49, 2.39, 2.5, 8.75, 8.75, 9.25, 9.25, 11.25, 8.99, 1.09, 8.99, 1.69, 11.75, 1.25, 21.96, 8.75, 2.15, 1.25, 8.75, 11.25, 9.25, 11.25, 8.75, 8.75, 11.25, 2.15, 8.99, 1.09, 1.69, 8.75, 2.15, 1.25, 8.49, 1.09, 1.09, 1.69, 11.48, 8.49, 8.49, 4.78, 9.25, 1.25, 1.25, 1.25, 11.25, 11.25, 11.75, 4.45, 11.25, 4.45, 8.99, 1.09, 11.25, 2.15, 11.25, 9.25, 11.75, 11.25, 11.25, 9.25, 2.95, 11.25, 4.45, 8.75, 2.95, 2.95, 11.25, 1.5, 10.98, 16.98, 18.5, 10.98, 3.99, 1.09, 9.25, 9.25, 8.75, 4.45, 17.5, 8.75, 4.45, 8.75, 1.25, 4.45, 9.25, 8.75, 8.75, 17.5, 4.45, 9.39, 1.25, 2.95, 11.25, 8.75, 8.75, 11.25, 2.15, 8.9, 11.25, 11.89, 10.98, 11.25, 4.45, 11.25, 11.25, 8.49, 10.98, 8.49, 3.39, 9.25, 8.75, 2.95, 3.0, 9.39, 11.75, 2.95, 1.5, 11.25, 11.75, 8.75, 2.15, 1.5, 8.49, 3.39, 11.75, 1.25, 17.5, 11.25, 1.25, 8.75, 2.95, 1.25, 11.25, 11.75, 13.35, 11.25, 11.75, 11.25, 11.25, 4.45, 11.25, 8.49, 3.39, 9.25, 2.95, 4.78, 2.39, 3.99, 8.99, 8.99, 11.25, 11.25, 8.75, 11.25, 2.95, 4.45, 9.25, 8.75, 4.45, 8.49, 8.49, 10.98, 10.98, 3.99, 11.75, 8.75, 11.75, 4.45, 1.5, 1.25, 8.49, 8.49, 8.75, 8.75, 8.75, 9.25, 8.75, 2.95, 1.25, 11.25, 1.5, 11.25, 4.45, 9.25, 8.75, 8.75, 9.25, 8.75, 4.45, 1.5, 8.75, 8.75, 8.49, 1.69, 8.75, 2.15, 9.25, 2.15, 1.5, 11.25, 11.75, 2.15, 6.49, 9.25, 9.25, 11.25, 11.25, 11.75, 11.75, 11.75, 11.25, 8.75, 2.15, 1.25, 11.75, 9.25, 11.25, 8.75, 5.9, 8.75, 4.45, 9.25, 9.25, 4.45, 11.25, 4.45, 11.25, 8.75, 2.15, 11.89, 11.25, 8.75, 2.95, 1.5, 8.75, 4.3, 8.75, 11.25, 11.75, 11.75, 2.15, 11.25, 8.99, 1.09, 8.49, 8.49, 8.49, 3.39, 8.99, 10.98, 3.99, 11.75, 2.15, 8.75, 4.45, 2.5, 11.48, 1.09, 8.49, 8.49, 16.98, 3.99, 10.98, 1.09, 8.75, 2.95, 8.75, 8.75, 2.95, 9.25, 11.25, 2.15, 9.25, 4.45, 4.45, 9.25, 11.75, 11.75, 2.15, 9.25, 8.75, 11.25, 6.49, 8.75, 11.25, 2.95, 10.98, 3.99, 1.5, 9.25, 2.15, 8.75, 11.25, 11.89, 4.45, 1.5, 1.25, 8.75, 8.75, 4.45, 11.25, 11.75, 8.49, 1.09, 1.09, 1.69, 8.99, 3.39, 8.99, 1.69, 8.49, 8.99, 3.27, 8.99, 8.99, 1.09, 10.98, 1.69, 3.99, 8.49, 1.09, 8.75, 8.75, 11.75, 8.75, 9.25, 8.75, 3.39, 8.99, 8.99, 2.39, 9.25, 8.75, 9.25, 9.25, 8.99, 3.99, 2.39, 8.49, 1.09, 8.49, 8.99, 3.39, 11.25, 1.25, 8.99, 3.99, 8.75, 8.9, 6.49, 8.75, 9.25, 11.25, 11.25, 11.25, 1.25, 8.75, 9.25, 4.45, 1.25, 8.75, 1.25, 2.15, 17.98, 8.99, 8.75, 2.95, 1.25, 11.75, 1.5, 1.5, 8.75, 8.75, 11.08, 8.99, 1.69, 8.99, 1.69, 10.98, 3.99, 3.39, 11.75, 2.15, 11.75, 2.95, 8.75, 8.75, 11.75, 11.25, 11.75, 11.25, 4.45, 11.25, 1.25, 2.18, 2.18, 2.39, 8.49, 8.99, 2.39, 11.25, 8.75, 11.75, 11.75, 11.25, 4.45, 2.15, 8.19, 10.58, 4.45, 9.25, 1.09, 8.99, 11.25, 1.5, 8.99, 3.99, 4.45, 11.75, 2.15, 11.25, 8.75, 4.45, 8.75, 9.25, 6.45, 8.75, 11.25, 11.25, 8.75, 11.75, 21.96, 8.99, 5.07, 8.49, 9.25, 11.25, 4.45, 3.39, 8.49, 8.99, 8.49, 17.5, 22.96, 8.75, 11.25, 11.89, 11.25, 8.49, 1.69, 1.09, 8.99, 8.99, 9.25, 8.75, 9.25, 2.95, 8.49, 3.99, 8.99, 8.49, 7.17, 8.49, 8.99, 17.5, 9.25, 9.25, 11.25, 1.25, 8.99, 1.09, 8.75, 4.45, 11.25, 2.15, 11.75, 11.25, 11.25, 8.75, 8.75, 4.45, 1.25, 11.75, 11.75, 2.5, 8.49, 8.99, 2.18, 11.25, 4.45, 11.25, 11.75, 8.49, 8.99, 1.69, 1.09, 8.99, 8.99, 11.25, 6.49, 11.25, 8.75, 4.45, 8.99, 1.69, 11.48, 11.75, 2.5, 8.49, 1.09, 1.09, 1.69, 8.49, 2.39, 11.75, 1.25, 8.49, 1.69, 8.49, 1.69, 11.75, 4.45, 8.75, 8.75, 4.45, 8.75, 11.25, 11.25, 8.75, 7.98, 8.49, 1.09, 8.49, 3.99, 8.49, 3.99, 8.99, 3.99, 11.25, 4.45, 8.49, 2.39, 8.49, 2.39, 3.99, 8.49, 1.25, 11.25, 4.45, 9.25, 4.45, 1.09, 8.99, 3.99, 11.25, 8.9, 9.25, 11.25, 8.75, 11.25, 11.25, 11.25, 11.25, 11.25, 8.99, 8.49, 8.75, 8.75, 4.45, 16.98, 11.75, 11.25, 9.25, 4.45, 9.25, 2.95, 8.49, 1.69, 3.75, 4.45, 9.25, 1.5, 11.25, 11.48, 11.25, 2.15, 8.75, 9.39, 8.49, 3.99, 8.19, 2.29, 11.48, 1.69, 11.48, 3.99, 8.49, 1.69, 9.25, 2.95, 8.49, 1.69, 11.25, 4.45, 9.39, 9.25, 8.75, 8.75, 4.45, 11.89, 4.45, 4.45, 8.75, 8.75, 8.75, 2.15, 8.75, 3.75, 9.25, 11.25, 4.45, 6.49, 16.98, 18.5, 2.5, 2.95, 3.99, 8.49, 8.19, 11.08, 6.49, 11.75, 2.39, 8.99, 1.09, 11.25, 4.45, 11.25, 8.99, 1.69, 21.96, 2.18, 8.99, 8.99, 2.39, 8.69, 1.69, 8.9, 2.5, 8.75, 8.99, 1.09, 8.49, 8.49, 8.75, 4.45, 17.5, 8.75, 9.25, 8.49, 2.39, 8.75, 4.45, 11.25, 11.25, 11.75, 8.75, 8.49, 8.49, 8.49, 8.99, 8.75, 4.45, 11.48, 8.75, 1.25, 2.15, 9.25, 4.45, 11.75, 2.15, 11.25, 8.99, 2.39, 8.69, 8.69, 11.75, 2.95, 11.75, 1.5, 9.25, 4.45, 1.5, 11.48, 8.99, 2.39, 11.25, 11.89, 2.15, 1.25, 11.75, 4.45, 8.75, 8.75, 11.25, 4.45, 11.25, 2.15, 4.45, 8.49, 1.09, 3.99, 11.25, 11.25, 8.49, 2.39, 8.99, 2.39, 11.25, 2.15, 8.75, 2.95, 1.25, 8.75, 11.2

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [56]:
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [57]:
# Como eliminar una columna
chipo = chipo.drop("item_price2", axis="columns")
chipo

KeyError: "['item_price2'] not found in axis"

## Recordar preguntar si es válido iterar sobre la columna como si fuera una lista

### Step 3. Name of the max valued product

In [126]:
product_max = (chipo.loc[:,"item_price"]).max()
product_max
mask = chipo.loc[:,"item_price"]  == product_max        
print(chipo.loc[mask,"item_name"])
chipo.loc[mask,:]

order_id
1443    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

          quantity                     item_name choice_description item_price
order_id
1443            15  Chips and Fresh Tomato Salsa                NaN      44.25

### Step 4. How many products cost more than $10.00?

In [127]:
products_over_10 = chipo.loc[:,"item_price"] > 10.00
chipo.loc[products_over_10,:]
chipo.loc[products_over_10,:].shape[0]

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [128]:
chipo.loc[products_over_10,:"quantity"].sum()

quantity    1314
dtype: int64

### Step 5. a - How much money we earned selling our most expensive product?

Busca el producto mas caro (si hay mas de uno da igual, coge el uno de ellos). Guardate su nombre y precio.
Filtra las filas por ese producto con el nombre.
Multiplica las cantidades del resultado filtrado por el precio que guardaste.

In [129]:
product_max = (chipo.loc[:,"item_price"]).max()
product_max
mask = chipo.loc[:,"item_price"]  == product_max        
expensive_product = chipo.loc[mask,"item_name"]
expensive_product.iloc[0]
ep_name = expensive_product.iloc[0]

expensive_product = chipo.loc[mask,"item_price"]
ep_price = expensive_product.iloc[0]

print(ep_name)
print(ep_price)

Chips and Fresh Tomato Salsa
44.25

In [141]:
mask_chips = chipo.loc[:,"item_name"] == ep_name
quantity = chipo.loc[mask_chips,"quantity"].sum()
print(quantity)
ep_price * quantity

130

np.float64(5752.5)

In [142]:
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,Izze,[Clementine],3.39
1,1,Nantucket Nectar,[Apple],3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 5. b - How much money we earned selling our cheapest product?

Lo mismo que antes pero con el mas barato.

In [180]:
price_min = chipo.loc[:,"item_price"].min()
mask_price_min = chipo.loc[:,"item_price"] == price_min
price_min_name = chipo.loc[mask_price_min,"item_name"].iloc[0]
mask_price_min_name = chipo.loc[:,"item_name"] == price_min_name
quantity_canned_soda = chipo.loc[mask_price_min_name,:"quantity"].sum()
price_min * quantity_canned_soda

quantity    137.34
dtype: float64

### Step 6. Sort by the name of the item

In [182]:
chipo.sort_values(by='item_name')

,quantity,item_name,choice_description,item_price
order_id,,,,
1360,2,6 Pack Soft Drink,[Diet Coke],12.98
148,1,6 Pack Soft Drink,[Diet Coke],6.49
749,1,6 Pack Soft Drink,[Coke],6.49
754,1,6 Pack Soft Drink,[Diet Coke],6.49
1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [198]:
mask_step7 = chipo.loc[:,"item_price"] == product_max
df7 = chipo.loc[mask_step7]
df7.loc[:,"quantity"].iloc[0]

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [219]:
veggies = []
for elemento in (chipo.loc[:,"item_name"].unique()):
    if elemento.lower().startswith("vegg"):
        veggies.append(elemento)

vsb = veggies[2]

mask8 = chipo.loc[:,"item_name"] == vsb

chipo.loc[mask8,"quantity"].sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [231]:
mask9 = chipo.loc[:,"item_name"] == "Canned Soda"
filtered_df = chipo.loc[mask9,:]
mask9_part2 = filtered_df.loc[:,"quantity"] > 1
filetered_df_2 = filtered_df.loc[mask9_part2]
filetered_df_2.shape[0]

20